@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Two+Tone|Material+Icons+Sharp');

body {
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

button {
  transition: 500ms;
  padding: 30px;
  font-size: 18px;
  background-color: #eeeeee;
  border: 2px solid #000000;
}
button:hover {
  background-color: #111111;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  button {
    padding: 15px;
    font-size: 9px;
  }
}

.button {
  transition: 500ms;
  padding: 30px;
  font-size: 18px;
  background-color: #eeeeee;
  border: 2px solid #000000;
  cursor: default;
}
.button:hover {
  background-color: #111111;
  color: #ffffff;
}

.content {
  margin-bottom: 120px;
}

.bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dddddd;
  padding: 10px;
  text-align: center;
}